<% hashed_value = field.resource.send("#{field.name}_to_h") %>
<% unless hashed_value.empty? %>
  <table class="translation-show">
    <tr>
      <th>Language</th>
      <th>Translation</th>
    </tr>
    <% TranslationThings::LANGS.each do |lang, lang_name| %>
      <% val = hashed_value[lang] %>
      <% unless val.blank? %>
        <tr><td><%= lang_name %></td><td><%= val %></td></tr>
      <% end %>
    <% end %>
  </table>
<% end %>
