<div class="inline-select-form post-report-form">
  <%= select_tag("status",
             options_for_select(PostReport.statuses.collect { |s| [s.first.titleize, s.first] }, post_report.status),
             data: {
                 url: admin_post_report_path(post_report.id)
             }
            )
  %>
  <div class="post-update-result"></div>
</div>
