<% if @products %>
  <table clsss="table table-condensed table-striped">
    <thead>
      <tr>
        <th class="shrink model-name">Products</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle("odd", "even") %> link action_type_links">
          <td>
            <a class="pjax" href="<%= select_product_action_path(product_id:  product.id ) %>"><%= product %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
