<div class="inline-select-form message-report-form">
  <%= select_tag("status",
             options_for_select(MessageReport.statuses.collect { |s| [s.first.titleize, s.first] }, message_report.status),
             data: {
                 url: admin_message_report_path(message_report.id),
                 message_id: message_report.message.id
             }
            )
  %>
  <div class="message-update-result"></div>
</div>
