

form {
  padding-top: 10px;
}

.admin-warning {
  text-align: center;
  font-size: large;
  color: red;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:lightgrey;
}

.badge-list {
  list-style-type: disc;
}

.button-width a {
  min-width: 100px;
  text-align: center;
}

.item-hidden {
  background-color: lightgrey;
}


.inline-select-form select {
  padding: 2px;
  width: auto;
  float: left; /* for width matching contents */
}


.product-select {
  padding-top: 50px;

}

.new_filterrific fieldset {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px groove grey;
  border-radius: 10px;
  div {
    margin-top: 10px;
  }
  legend {
    padding-left: 10px;
    padding-right: 10px;
  }

  input {
    width: 400px;
  }

  select {
    width: auto;
  }
  input[type="number"] {
    width: 140px;
  }
  .button {
    max-width: 140px;
  }
}

.navigation__link {
  margin-left: 15px;
}

.navigation .navigation__link:nth-child(2), a:last-child {
  margin-top: 30px;
}

.translated-field {
  border-radius: 5px;
  border: 1px groove gray;
  padding: 10px;
}

.user-status {
  background-color: lightblue;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin: 6px;
  font-size: x-small;
  float: right
}

.message-update-result, .post-update-result {
  padding: 12px;
  width: 200px;
  float: left;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.post-reactions {
  margin: 80px;
  table {
    width: 300px;
    caption {
      text-align: left;
      font-weight: bold;
    }
  }
}

.translated-field {
  &.field-unit__field {
    width: 90%;
  }
  width: auto;
  padding: 4px;
  .legend {
    background-color: black;
    border-radius: 2px;
    padding: 2px;
    color: white;
    display: inline-block;
    font-size: x-small;
  }
}
