<% Post::LANGS.each do |l,n| %>
  <div class="field-unit field-unit--text post-body">
    <div class="field-unit__label">
      <label><%= "#{n}:" %></label>
    </div>
    <div class="field-unit__field">
      <%= text_area_tag("post[body_#{l}]", f.object.new_record? ? "" : f.object.body(l), rows: 10, cols: 80) %>
    </div>
  </div>
<% end %>
