<% translated = f.object.body_translated? %>
<% translate_button = false %>
<% Post::LANGS.each do |l,n| %>
  <% if translated || l == Post::DEFAULT_LANG %>
    <% visi_class = "display-block" %>
  <% else %>
    <% visi_class = "display-none" %>
    <% translate_button = true %>
  <% end %>
  <div class="field-unit field-unit--text post-body <%= visi_class %>">
    <div class="field-unit__label">
      <label><%= "Body - #{n}:" %></label>
    </div>
    <div class="field-unit__field">
      <%= text_area_tag("post[body_#{l}]", f.object.new_record? ? "" : f.object.body(l), rows: 10, cols: 80) %>
    </div>
  </div>
<% end %>
<% if translate_button %>
  <div class="field-unit">
    <div class="field-unit__label"></div>
    <div class="field-unit__field translate-button">
      <a class="button">Translate</a>
    </div>
  </div>
<% end %>