<div class="post-reactions">
  <% reaction_counts = post.reaction_breakdown %>
  <h2>Reactions - Total: <%= reaction_counts.present? ? reaction_counts.values.inject { |a, b| a + b } : 0 %></h2>
  <% unless reaction_counts.nil? %>
    <table>
      <tr>
        <th>Emoji</th>
        <th>Raw Code</th>
        <th>Count</th>
      </tr>
      <% reaction_counts.each do |k, v| %>
        <tr>
          <td>
            <%= raw "&#x#{k};" %>
          </td>
          <td>
            <%= k %>
          </td>
          <td>
            <%= v %>
          </td>
        <tr/>
      <% end %>
    </table>
  <% end %>
</div>
