<div class="product-select">

  <%= form_tag(select_product_admin_products_path) do -%>
    <div class="field-unit">
      <div class="field-unit__label">
        <label>Select product:</label>
      </div>
      <div class="field-unit__field">
        <%= select_tag "product_id", options_from_collection_for_select(@products, "id", "name", @selected_id), include_blank: true %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag "Select" %>
    </div>
  <% end -%>

</div>
