{
  "openapi": "3.0.0",
  "info": {
    "title": "Fanlink API",
    "description": "API documentation of Rails Application. <br/>Optional multiline or single-line Markdown-formatted description in [CommonMark](http://spec.commonmark.org/) or `HTML`.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fan.link",
      "description": "Production server"
    },
    {
      "url": "http://staging.fan.link",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "BadgeActions",
      "description": "Badge Actions"
    },
    {
      "name": "Badges",
      "description": "Badges"
    },
    {
      "name": "Base"
    },
    {
      "name": "Blocks",
      "description": "Block a person"
    },
    {
      "name": "Events",
      "description": "Events"
    },
    {
      "name": "Followings",
      "description": "Followers and following"
    },
    {
      "name": "Levels",
      "description": "Levels"
    },
    {
      "name": "Merchandise",
      "description": "Product Merchandise"
    },
    {
      "name": "MessageReports",
      "description": "Message Reports"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "NotificationDeviceIds",
      "description": "Notification Device IDs"
    },
    {
      "name": "PasswordResets",
      "description": "Password Reset"
    },
    {
      "name": "People",
      "description": "Users"
    },
    {
      "name": "PostCommentReports",
      "description": "Reported comments on posts"
    },
    {
      "name": "PostComments",
      "description": "Comments on a post"
    },
    {
      "name": "PostReactions",
      "description": "User reactions to a post"
    },
    {
      "name": "PostReports",
      "description": "Posts reported by a user"
    },
    {
      "name": "Posts",
      "description": "User/product posts"
    },
    {
      "name": "RecommendedPeople",
      "description": "Recommended People"
    },
    {
      "name": "RecommendedPosts",
      "description": "Recommended posts"
    },
    {
      "name": "Relationships",
      "description": "User's relationships"
    },
    {
      "name": "RoomMemberships",
      "description": "What rooms a user belongs to."
    },
    {
      "name": "Rooms",
      "description": "Chat rooms"
    },
    {
      "name": "Session",
      "description": "User session management."
    }
  ],
  "paths": {
    "/badge_actions": {
      "post": {
        "summary": "POST create a badge action",
        "operationId": "BadgeActionsCreate",
        "tags": [
          "BadgeActions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "badge_action": {
                    "type": "object",
                    "properties": {
                      "action_type": {
                        "type": "string",
                        "description": "Internal name of the action type."
                      },
                      "indentifier": {
                        "type": "string",
                        "description": "The indentifier for this badge action."
                      }
                    },
                    "required": [
                      "action_type"
                    ]
                  }
                },
                "required": [
                  "badge_action"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgeActionsPending"
          },
          "429": {
            "description": "Not enough time since last submission of this action type or duplicate action type, person, identifier combination"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/badges": {
      "get": {
        "summary": "Get badges",
        "operationId": "BadgesIndex",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "required": false,
            "description": "The id of the person whose badges you want.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/blocks": {
      "post": {
        "description": "This is used to block a person. When a person is blocked, any followings and relationships are immediately removed between the users.",
        "summary": "POST Block a person",
        "operationId": "BlocksCreate",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "block": {
                    "type": "object",
                    "properties": {
                      "blocked_id": {
                        "type": "integer",
                        "description": "Internal name of the action type."
                      }
                    },
                    "required": [
                      "blocked_id"
                    ]
                  }
                },
                "required": [
                  "block"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BlocksObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/blocks/{id}": {
      "delete": {
        "summary": "POST Unblock a person",
        "operationId": "BlocksDestroy",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "Get all events for a product",
        "operationId": "EventsIndex",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "Only include events starting on or after date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "description": "Only include events starting on or before date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Get a single event by id",
        "operationId": "EventsShow",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsObject"
          }
        }
      }
    },
    "/followings": {
      "get": {
        "description": "This is used to get a list of someone's followers or followed. If followed_id parameter is supplied, it will get the follower's of that user. If follower_id is supplied, it will get the people that person is following. If nothing is supplied it will get the people the current user is following.",
        "summary": "Get followers or followings of a user.",
        "operationId": "FollowingsIndex",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "followed_id",
            "in": "query",
            "required": false,
            "description": "Person to who's followers to get.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "follower_id",
            "in": "query",
            "required": false,
            "description": "Id of person who is following the people in the list we are getting.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/FollowersArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This is used to follow a person.",
        "summary": "Follow a person.",
        "operationId": "FollowingsCreate",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "followed_id": {
                    "type": "integer",
                    "description": "Person to follow."
                  }
                },
                "required": [
                  "followed_id"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/FollowingObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/followings/{id}": {
      "delete": {
        "description": "This is used to unfollow a person.",
        "summary": "Unfollow a person.",
        "operationId": "FollowingsDestroy",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/levels": {
      "get": {
        "description": "This gets a list of all levels available to be obtained.",
        "summary": "Get all available levels.",
        "operationId": "LevelsIndex",
        "tags": [
          "Levels"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/LevelsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/merchandise": {
      "get": {
        "description": " This gets a list of merchandise, in priority order.",
        "summary": "Get available merchandise.",
        "operationId": "MerchandiseIndex",
        "tags": [
          "Merchandise"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MerchandiseArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/merchandise/{id}": {
      "get": {
        "description": "This gets a single piece of merchandise for a merchandise id.",
        "summary": "Get a single piece of merchandise.",
        "operationId": "MerchandiseShow",
        "tags": [
          "Merchandise"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id."
          },
          "200": {
            "$ref": "#/components/responses/MerchandiseObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/message_reports": {
      "get": {
        "summary": "Get list of messages reports (ADMIN).",
        "operationId": "MessageReportsIndex",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "description": "If provided, valid values are \"message_hidden\", \"no_action_needed\", and \"pending\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/MessageReportsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/message_reports/{id}": {
      "patch": {
        "description": "This updates a message report. The only value that can be changed is the status.",
        "summary": "Update a Message Report. (Admin)",
        "operationId": "MessageReportsUpdate",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "message_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"message_hidden\", \"no_action_needed\", and \"pending\"."
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "message_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a message report. The only value that can be changed is the status.",
        "summary": "Update a Message Report. (Admin)",
        "operationId": "MessageReportsUpdate",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "message_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"message_hidden\", \"no_action_needed\", and \"pending\"."
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "message_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "description": " This gets a list of messages without regard to room (with possible exception of room filter).",
        "summary": "Get a list of messages without regard to room (ADMIN ONLY).",
        "operationId": "MessagesList",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "id_filter",
            "in": "query",
            "required": false,
            "description": "Full match on Message id.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "person_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on person username.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room_id_filter",
            "in": "query",
            "required": false,
            "description": "Full match on Room id.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "body_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on message body.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reported_filter",
            "in": "query",
            "required": false,
            "description": "Filter on whether the message has been reported.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/MessagesArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/messages/{id}": {
      "patch": {
        "description": "This updates a message in a room. Only the hidden field can be changed and only by an admin. If the item is hidden, Firebase will be updated to inform the app that the message has been hidden.",
        "summary": "Update a message",
        "operationId": "MessagesUpdate",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "description": "ID of the room the message belongs to.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "hidden": {
                        "type": "boolean",
                        "description": "Whether or not the item is hidden."
                      }
                    }
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/MessagesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a message in a room. Only the hidden field can be changed and only by an admin. If the item is hidden, Firebase will be updated to inform the app that the message has been hidden.",
        "summary": "Update a message",
        "operationId": "MessagesUpdate",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "room_id",
            "in": "path",
            "required": true,
            "description": "ID of the room the message belongs to.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "hidden": {
                        "type": "boolean",
                        "description": "Whether or not the item is hidden."
                      }
                    }
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/MessagesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/notification_device_ids": {
      "post": {
        "description": "This adds a new device id to be used for notifications to the Firebase Cloud Messaging Service. A user can have any number of device ids.",
        "summary": "Add a new device id for a person.",
        "operationId": "NotificationDeviceIdsCreate",
        "tags": [
          "NotificationDeviceIds"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "description": "ID of the device"
                  }
                },
                "required": [
                  "device_id"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "This deletes a single device id. Can only be called by the owner.",
        "summary": "Delete a device id",
        "operationId": "NotificationDeviceIdsDestroy",
        "tags": [
          "NotificationDeviceIds"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/people": {
      "get": {
        "description": "This is used to get a list of people.",
        "summary": "Get a list of people.",
        "operationId": "PeopleIndex",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "username_filter",
            "in": "query",
            "required": false,
            "description": "A username or username fragment to filter on.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_filter",
            "in": "query",
            "required": false,
            "description": "An email or email fragment to filter on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PeopleArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This is used to create a new person.\\nIf the account creation is successful, they will be logged in and we will send an onboarding email (if we have an email address for them).",
        "summary": "Create person.",
        "operationId": "PeopleCreate",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": {
                    "type": "string",
                    "description": "Internal name of the product."
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address (required unless using FB auth token)."
                      },
                      "facebook_auth_token": {
                        "type": "string",
                        "description": "Auth token from Facebook"
                      },
                      "name": {
                        "type": "string",
                        "description": "User's name."
                      },
                      "username": {
                        "type": "string",
                        "description": "Username. This needs to be unique within product scope."
                      },
                      "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User\\s password."
                      },
                      "picture": {
                        "type": "string",
                        "format": "binary",
                        "description": "Profile picture, this should be `image/gif`, `image/png`, or `image/jpeg`."
                      },
                      "gender": {
                        "type": "string",
                        "description": "Gender. Valid options: unspecified (default), male, female."
                      },
                      "birthdate": {
                        "type": "string",
                        "description": "Birth dateTo date in format \"YYYY-MM-DD\"."
                      },
                      "city": {
                        "type": "string",
                        "description": "Person's supplied city."
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Alpha2 code (two letters) from ISO 3166 list."
                      }
                    },
                    "required": [
                      "email",
                      "facebook_auth_token",
                      "username",
                      "password"
                    ]
                  }
                },
                "required": [
                  "product",
                  "person"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonObject"
          }
        }
      }
    },
    "/people/password_forgot": {
      "post": {
        "description": "This is used to initiate a password reset. Product and email or username required. If email or username is not found, password reset will fail silently.",
        "summary": "Initiate a password reset.",
        "operationId": "PasswordResetsCreate",
        "tags": [
          "PasswordResets"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": {
                    "type": "string",
                    "description": "Internal name of product."
                  },
                  "email_or_username": {
                    "type": "string",
                    "description": "The person's email or username."
                  }
                },
                "required": [
                  "product",
                  "email_or_username"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "description": "HTTP/1.1 200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "default": "Reset password instructions have been sent to your email, if it exists in our system."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/recommended": {
      "get": {
        "description": "This is used to get a list of people flagged as \"recommended\". It excludes the current user and anyone the current user is following.",
        "summary": "Get recommended people.",
        "operationId": "RecommendedPeopleIndex",
        "tags": [
          "RecommendedPeople"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RecommendedPeopleArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/people/{id}": {
      "get": {
        "description": "This is used to get a person.",
        "summary": "Get a person.",
        "operationId": "PeopleShow",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "This is used to update a person. Anything not mentioned is left alone.",
        "summary": "Update person.",
        "operationId": "PeopleUpdate",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "recommended": {
                    "type": "boolean",
                    "description": "Whether this is a recommended persion. (Admin or product account only)"
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address (required unless using FB auth token)."
                      },
                      "name": {
                        "type": "string",
                        "description": "User's name."
                      },
                      "username": {
                        "type": "string",
                        "description": "Username. This needs to be unique within product scope."
                      },
                      "picture": {
                        "type": "string",
                        "format": "binary",
                        "description": "Profile picture, this should be `image/gif`, `image/png`, or `image/jpeg`."
                      },
                      "gender": {
                        "type": "string",
                        "description": "Gender. Valid options: unspecified (default), male, female."
                      },
                      "birthdate": {
                        "type": "string",
                        "description": "Birth dateTo date in format \"YYYY-MM-DD\"."
                      },
                      "city": {
                        "type": "string",
                        "description": "Person's supplied city."
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Alpha2 code (two letters) from ISO 3166 list."
                      }
                    }
                  }
                },
                "required": [
                  "person"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This is used to update a person. Anything not mentioned is left alone.",
        "summary": "Update person.",
        "operationId": "PeopleUpdate",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "recommended": {
                    "type": "boolean",
                    "description": "Whether this is a recommended persion. (Admin or product account only)"
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address (required unless using FB auth token)."
                      },
                      "name": {
                        "type": "string",
                        "description": "User's name."
                      },
                      "username": {
                        "type": "string",
                        "description": "Username. This needs to be unique within product scope."
                      },
                      "picture": {
                        "type": "string",
                        "format": "binary",
                        "description": "Profile picture, this should be `image/gif`, `image/png`, or `image/jpeg`."
                      },
                      "gender": {
                        "type": "string",
                        "description": "Gender. Valid options: unspecified (default), male, female."
                      },
                      "birthdate": {
                        "type": "string",
                        "description": "Birth dateTo date in format \"YYYY-MM-DD\"."
                      },
                      "city": {
                        "type": "string",
                        "description": "Person's supplied city."
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Alpha2 code (two letters) from ISO 3166 list."
                      }
                    }
                  }
                },
                "required": [
                  "person"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/people/{id}/change_password": {
      "patch": {
        "description": "This is used to change the logged in user's password.",
        "summary": "Change your password.",
        "operationId": "PeopleChangePassword",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The person id.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "person": {
                    "type": "object",
                    "properties": {
                      "current_password": {
                        "type": "string",
                        "description": "Current password."
                      },
                      "new_password": {
                        "type": "string",
                        "description": "New password."
                      }
                    },
                    "required": [
                      "current_password"
                    ]
                  }
                },
                "required": [
                  "person"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          }
        }
      }
    },
    "/post_comment_reports": {
      "get": {
        "description": "This gets a list of post comment reports with optional filter.",
        "summary": "Get list of post comment reports (ADMIN).",
        "operationId": "PostCommentReportsIndex",
        "tags": [
          "PostCommentReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "description": "If provided, valid values are \"pending\", \"no_action_needed\", and \"comment_hidden\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostCommentReportsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This reports a post comment.",
        "summary": "Report a post comment.",
        "operationId": "PostCommentReportsCreate",
        "tags": [
          "PostCommentReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_comment_report": {
                    "type": "object",
                    "properties": {
                      "post_comment_id": {
                        "type": "integer",
                        "description": "The id of the post comment being reported."
                      },
                      "reason": {
                        "type": "string",
                        "description": "The reason given by the user for reporting the post comment."
                      }
                    },
                    "required": [
                      "post_comment_id"
                    ]
                  }
                },
                "required": [
                  "post_comment_report"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/post_comment_reports/{id}": {
      "patch": {
        "description": "This updates a post comment report. The only value that can be changed is the status.",
        "summary": "Update a Post Comment Report (Admin)",
        "operationId": "PostCommentReportsUpdate",
        "tags": [
          "PostCommentReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_comment_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"pending\", \"no_action_needed\", \"comment_hidden\""
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "post_comment_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a post comment report. The only value that can be changed is the status.",
        "summary": "Update a Post Comment Report (Admin)",
        "operationId": "PostCommentReportsUpdate",
        "tags": [
          "PostCommentReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_comment_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"pending\", \"no_action_needed\", \"comment_hidden\""
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "post_comment_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/post_comments/list": {
      "get": {
        "description": "This gets a list of post comments with optional filters and pagination.",
        "summary": "Get a list of post comments (ADMIN).",
        "operationId": "PostCommentsList",
        "tags": [
          "PostComments"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "body_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on comment body.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "person_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on person username or email.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostCommentsListArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/post_reports": {
      "get": {
        "description": "This gets a list of post reports with optional filter.",
        "summary": "Get list of post reports (ADMIN).",
        "operationId": "PostReportsIndex",
        "tags": [
          "PostReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "description": "If provided, valid values are \"pending\", \"no_action_needed\", and \"post_hidden\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostReportsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This reports a post that was posted to a feed.",
        "summary": "Report a post.",
        "operationId": "PostReportsCreate",
        "tags": [
          "PostReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_report": {
                    "type": "object",
                    "properties": {
                      "post_id": {
                        "type": "integer",
                        "description": "The id of the post being reported."
                      },
                      "reason": {
                        "type": "string",
                        "description": "The reason given by the user for reporting the post."
                      }
                    },
                    "required": [
                      "post_id"
                    ]
                  }
                },
                "required": [
                  "post_report"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/post_reports/{id}": {
      "patch": {
        "description": "This updates a post report. The only value that can be changed is the status.",
        "summary": "Update a Post Report.",
        "operationId": "PostReportsUpdate",
        "tags": [
          "PostReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"pending\", \"no_action_needed\", \"post_hidden\""
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "post_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a post report. The only value that can be changed is the status.",
        "summary": "Update a Post Report.",
        "operationId": "PostReportsUpdate",
        "tags": [
          "PostReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_report": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "The new status. Valid statuses are \"pending\", \"no_action_needed\", \"post_hidden\""
                      }
                    },
                    "required": [
                      "status"
                    ]
                  }
                },
                "required": [
                  "post_report"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/posts": {
      "get": {
        "description": "  This gets a list of posts for a from date, to date, with an optional limit and person. Posts are returned newest first, and the limit is applied to that ordering.\n    Posts included are posts from the passed in person or, if none, the current\n    user along with those of the users the current user is following.",
        "summary": "Get posts for a date range.",
        "operationId": "PostsIndex",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "required": false,
            "description": "The person whose posts to get. If not supplied, posts from current user plus those from people the current user is following will be returned.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "From date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "description": "To date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This creates a post and puts in on the feed of the author's followers. It also sends a push notification to poster's followers if the notify_followers flag is set to true.",
        "summary": "Create a post.",
        "operationId": "PostsCreate",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "The body of the message."
                      },
                      "picture": {
                        "type": "string",
                        "format": "binary",
                        "description": "Post picture, this should be `image/gif`, `image/png`, or `image/jpeg`."
                      },
                      "audio": {
                        "type": "string",
                        "format": "binary",
                        "description": "Post audio, this should be `audio/acc`."
                      },
                      "global": {
                        "type": "boolean",
                        "description": "Whether the post is global (seen by all users)."
                      },
                      "starts_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the post should start being visible (same format as in responses)."
                      },
                      "ends_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": " When the post should stop being visible (same format as in responses)."
                      },
                      "repost_interval": {
                        "type": "integer",
                        "description": "How often this post should be republished."
                      },
                      "status": {
                        "type": "string",
                        "description": "Valid values: \"pending\", \"published\", \"deleted\", \"rejected\""
                      },
                      "priority": {
                        "type": "integer",
                        "description": "Priority value for post."
                      },
                      "recommended": {
                        "type": "boolean",
                        "description": "Whether the post is recommended.(Admin or product account)"
                      }
                    }
                  }
                },
                "required": [
                  "post"
                ]
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/posts/list": {
      "get": {
        "description": "This gets a list of posts with optional filters and pagination.",
        "summary": "Get a list of posts (ADMIN ONLY).",
        "operationId": "PostsList",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "id_filter",
            "in": "query",
            "required": false,
            "description": "Full match on post.id. Will return either a one element array or an empty array.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "person_id_filter",
            "in": "query",
            "required": false,
            "description": "Full match on person id.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "person_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on person username or email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body_filter",
            "in": "query",
            "required": false,
            "description": "Full or partial match on post body.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "posted_after_filter",
            "in": "query",
            "required": false,
            "description": "Posted at or after timestamp. Format: \"2018-01-08T12:13:42Z\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "posted_before_filter",
            "in": "query",
            "required": false,
            "description": "Posted at or before timestamp. Format: \"2018-01-08T12:13:42Z\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "description": "Post status. Valid values: pending published deleted rejected errored",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostsListsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/posts/recommended": {
      "get": {
        "description": "This is used to get a list of published posts flagged as \"recommended\".",
        "summary": "Get recommended posts.",
        "operationId": "RecommendedPostsIndex",
        "tags": [
          "RecommendedPosts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/RecommendedPostsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/posts/{id}": {
      "get": {
        "description": "This gets a single post for a post id.",
        "summary": "Get a single post.",
        "operationId": "PostsShow",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "This updates a post.",
        "summary": "Update a post",
        "operationId": "PostsUpdate",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "The body of the message."
                      },
                      "picture": {
                        "type": "string",
                        "format": "binary",
                        "description": "Post picture, this should be `image/gif`, `image/png`, or `image/jpeg`."
                      },
                      "audio": {
                        "type": "string",
                        "format": "binary",
                        "description": "Post audio, this should be `audio/acc`."
                      },
                      "global": {
                        "type": "boolean",
                        "description": "Whether the post is global (seen by all users)."
                      },
                      "starts_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the post should start being visible (same format as in responses)."
                      },
                      "ends_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": " When the post should stop being visible (same format as in responses)."
                      },
                      "repost_interval": {
                        "type": "integer",
                        "description": "How often this post should be republished."
                      },
                      "status": {
                        "type": "string",
                        "description": "Valid values: \"pending\", \"published\", \"deleted\", \"rejected\""
                      },
                      "priority": {
                        "type": "integer",
                        "description": "Priority value for post."
                      },
                      "recommended": {
                        "type": "boolean",
                        "description": "Whether the post is recommended.(Admin or product account)"
                      }
                    }
                  }
                },
                "required": [
                  "post"
                ]
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/PostsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a post.",
        "summary": "Update a post",
        "operationId": "PostsUpdate",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v1+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "The body of the message."
[...]
