{
  "openapi": "3.0.0",
  "info": {
    "title": "Fanlink API",
    "description": "API documentation of Rails Application. <br/>Optional multiline or single-line Markdown-formatted description in [CommonMark](http://spec.commonmark.org/) or `HTML`.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.fan.link",
      "description": "Production server"
    },
    {
      "url": "http://staging.fan.link",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "SessionCookie": [

      ]
    }
  ],
  "tags": [
    {
      "name": "ActionTypes",
      "description": "Action types allow the apps to send actions that count towards badge/reward unlocks.(Super Admin Only)"
    },
    {
      "name": "ActivityTypes",
      "description": "Activity Types"
    },
    {
      "name": "AssignedRewards",
      "description": "This allows admins to assign rewards to other systems. Currently supports ActionType, Quest, Step, and QuestActivity."
    },
    {
      "name": "BadgeActions",
      "description": "Badge Actions"
    },
    {
      "name": "Badges",
      "description": "Badges"
    },
    {
      "name": "Base"
    },
    {
      "name": "Blocks",
      "description": "Block a person"
    },
    {
      "name": "Categories",
      "description": "Categories"
    },
    {
      "name": "Events",
      "description": "Events"
    },
    {
      "name": "Followings",
      "description": "Followers and following"
    },
    {
      "name": "Levels",
      "description": "Levels"
    },
    {
      "name": "Merchandise",
      "description": "Product Merchandise"
    },
    {
      "name": "MessageReports",
      "description": "Message Reports"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "NotificationDeviceIds",
      "description": "Notification Device IDs"
    },
    {
      "name": "PasswordResets",
      "description": "Password Reset"
    },
    {
      "name": "People",
      "description": "Users"
    },
    {
      "name": "PostCommentReports",
      "description": "Reported comments on posts"
    },
    {
      "name": "PostComments",
      "description": "Comments on a post"
    },
    {
      "name": "PostReactions",
      "description": "User reactions to a post"
    },
    {
      "name": "PostReports",
      "description": "Posts reported by a user"
    },
    {
      "name": "Posts",
      "description": "User/product posts"
    },
    {
      "name": "ProductBeacons",
      "description": "Beacons assigned to a product"
    },
    {
      "name": "Products",
      "description": "Products"
    },
    {
      "name": "QuestActivities",
      "description": "Quest Activities"
    },
    {
      "name": "QuestCompletions",
      "description": "This is used to register an activity as completed."
    },
    {
      "name": "Quests",
      "description": "Quests"
    },
    {
      "name": "RecommendedPeople",
      "description": "Recommended People"
    },
    {
      "name": "RecommendedPosts",
      "description": "Recommended posts"
    },
    {
      "name": "Relationships",
      "description": "User's relationships"
    },
    {
      "name": "Rewards",
      "description": "Reward system. Handles linking rewards to various things."
    },
    {
      "name": "RoomMemberships",
      "description": "What rooms a user belongs to."
    },
    {
      "name": "Rooms",
      "description": "Chat rooms"
    },
    {
      "name": "Session",
      "description": "User session management."
    },
    {
      "name": "Steps",
      "description": "Steps for a quest"
    },
    {
      "name": "Tags",
      "description": "Tags"
    }
  ],
  "paths": {
    "/action_types": {
      "get": {
        "description": "Returns all action types.",
        "summary": "Get all action types",
        "operationId": "ActionTypesIndex",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This creates an action type. Action types do nothing until implimented within the apps.",
        "summary": "Create an action type",
        "operationId": "ActionTypesCreate",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ActionTypeCreateForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/action_types/select": {
      "get": {
        "description": "Returns all action types.",
        "summary": "Get all action types",
        "operationId": "ActionTypesIndex",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/action_types/{id}": {
      "get": {
        "description": "Returns the action type for the given id.",
        "summary": "Find an action type",
        "operationId": "ActionTypesShow",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "This updates an action type.",
        "summary": "Update an action type.",
        "operationId": "ActionTypesUpdate",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ActionTypeUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates an action type.",
        "summary": "Update an action type.",
        "operationId": "ActionTypesUpdate",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ActionTypeUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ActionTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "This destroys an action type. If the action type is in use, it will not be allowed to be destroyed.",
        "summary": "Destroy an action type",
        "operationId": "ActionTypesDestroy",
        "tags": [
          "ActionTypes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/activities/{activity_id}/types": {
      "get": {
        "description": "Get the activity types belonging to the activity. Returns them ordered by created at descending.",
        "summary": "Get Activity types",
        "operationId": "ActivityTypesIndex",
        "tags": [
          "ActivityTypes"
        ],
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "description": "Activity ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "Creates an activity type to be used with the quest activity.",
        "summary": "Create Type for Activity",
        "operationId": "ActivityTypesCreate",
        "tags": [
          "ActivityTypes"
        ],
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "description": "Quest Activity ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TypeBodyCreate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/activities/{id}": {
      "get": {
        "description": "Returns the quest activity associated with the id.",
        "summary": "Find a quest activity",
        "operationId": "QuestActivitiesShow",
        "tags": [
          "QuestActivities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestActivityObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "Updates a quest activity associated with the id.",
        "summary": "Update a quest activity",
        "operationId": "QuestActivitiesUpdate",
        "tags": [
          "QuestActivities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/QuestActivityUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestActivityObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates a quest activity associated with the id.",
        "summary": "Update a quest activity",
        "operationId": "QuestActivitiesUpdate",
        "tags": [
          "QuestActivities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/QuestActivityUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestActivityObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "Soft deletes a quest activity.",
        "summary": "Delete a quest activity.",
        "operationId": "QuestActivitiesDestroy",
        "tags": [
          "QuestActivities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/activity_types/select": {
      "get": {
        "description": "Get the activity types belonging to the activity. Returns them ordered by created at descending.",
        "summary": "Get Activity types",
        "operationId": "ActivityTypesIndex",
        "tags": [
          "ActivityTypes"
        ],
        "parameters": [
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "description": "Activity ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/activity_types/{id}": {
      "get": {
        "description": "Gets activity type by ID",
        "summary": "Get an activity type",
        "operationId": "ActivityTypesShow",
        "tags": [
          "ActivityTypes"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "Updates an activity type",
        "summary": "Update a type",
        "operationId": "ActivityTypesUpdate",
        "tags": [
          "ActivityTypes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TypeBodyUpdate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates an activity type",
        "summary": "Update a type",
        "operationId": "ActivityTypesUpdate",
        "tags": [
          "ActivityTypes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TypeBodyUpdate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivityTypeObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes the activity type for given ID, removing it from the Quest Activities.",
        "summary": "Delete a type from an activity",
        "operationId": "ActivityTypesDestroy",
        "tags": [
          "ActivityTypes"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/assigned_rewards": {
      "post": {
        "description": "Links a model with a reward.",
        "summary": "Create an assigned reward",
        "operationId": "AssignedRewardsCreate",
        "tags": [
          "AssignedRewards"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AssignedRewardCreateForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/AssignedRewardObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/assigned_rewards/{id}": {
      "patch": {
        "description": "Allows you to update the max_times field.",
        "summary": "Update an assigned reward",
        "operationId": "AssignedRewardsUpdate",
        "tags": [
          "AssignedRewards"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AssignedRewardUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/AssignedRewardObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Allows you to update the max_times field.",
        "summary": "Update an assigned reward",
        "operationId": "AssignedRewardsUpdate",
        "tags": [
          "AssignedRewards"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AssignedRewardUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/AssignedRewardObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "Soft deletes an assigned reward.",
        "summary": "Destroy an assigned reward.",
        "operationId": "AssignedRewardsDestroy",
        "tags": [
          "AssignedRewards"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/badge_actions": {
      "post": {
        "summary": "POST create a badge action",
        "operationId": "BadgeActionsCreate",
        "tags": [
          "BadgeActions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BadgeActionCreate"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgeActionsPending"
          },
          "429": {
            "description": "Not enough time since last submission of this action type or duplicate action type, person, identifier combination"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/badges": {
      "get": {
        "summary": "Get badges",
        "operationId": "BadgesIndex",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "required": false,
            "description": "The id of the person whose badges you want.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "Creates a new badge.",
        "summary": "Create a badge",
        "operationId": "BadgesCreate",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BadgeCreateForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/badges/{id}": {
      "get": {
        "description": "Finds a badge for the provided id.",
        "summary": "Find a badge",
        "operationId": "BadgesShow",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "Updates a badge for the provided id.",
        "summary": "Update a badge",
        "operationId": "BadgesUpdate",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BadgeUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates a badge for the provided id.",
        "summary": "Update a badge",
        "operationId": "BadgesUpdate",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BadgeUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BadgesObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/beacons": {
      "get": {
        "description": "Get beacons for a product.",
        "summary": "Get Product Beacons",
        "operationId": "ProductBeaconsIndex",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconArray"
          }
        }
      },
      "post": {
        "description": "Add a beacon to the current user's product.",
        "summary": "Create a beacon",
        "operationId": "ProductBeaconsCreate",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BeaconCreateForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconObject"
          }
        }
      }
    },
    "/beacons/list": {
      "get": {
        "description": "This returns all beacons, regardless of deleted status.",
        "summary": "Get all beacons",
        "operationId": "ProductBeaconsList",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconArray"
          }
        }
      }
    },
    "/beacons/select": {
      "get": {
        "description": "Get beacons for a product.",
        "summary": "Get Product Beacons",
        "operationId": "ProductBeaconsIndex",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconArray"
          }
        }
      }
    },
    "/beacons/{id}": {
      "get": {
        "description": "Returns the product beacon for the passed in ID.",
        "summary": "Get Product Beacon",
        "operationId": "ProductBeaconsShow",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconObject"
          }
        }
      },
      "patch": {
        "description": "Updates a product beacon.",
        "summary": "Update a beacon",
        "operationId": "ProductBeaconsUpdate",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BeaconUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconObject"
          }
        }
      },
      "put": {
        "description": "Updates a product beacon.",
        "summary": "Update a beacon",
        "operationId": "ProductBeaconsUpdate",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BeaconUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/ProductBeaconObject"
          }
        }
      },
      "delete": {
        "description": "Soft deletes a product beacon",
        "summary": "Destroy Product Beacon",
        "operationId": "ProductBeaconsDestroy",
        "tags": [
          "ProductBeacons"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/blocks": {
      "post": {
        "description": "This is used to block a person. When a person is blocked, any followings and relationships are immediately removed between the users.",
        "summary": "POST Block a person",
        "operationId": "BlocksCreate",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BlockCreate"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/BlocksObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/blocks/{id}": {
      "delete": {
        "summary": "POST Unblock a person",
        "operationId": "BlocksDestroy",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "Returns categories for product based on current users role.",
        "summary": "Get Categories for Product",
        "operationId": "CategoriesIndex",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Internal name of product to get categories for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/CategoryArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "Creates a category for current user's associated product.",
        "summary": "Create a category",
        "operationId": "CategoriesCreate",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CategoryForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/CategoryObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/categories/{id}": {
      "get": {
        "description": "Gets a category by ID.",
        "summary": "Get a category",
        "operationId": "CategoriesShow",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/CategoryObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "Updates a category with the passed in ID.",
        "summary": "Update a category",
        "operationId": "CategoriesUpdate",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CategoryUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/CategoryObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates a category with the passed in ID.",
        "summary": "Update a category",
        "operationId": "CategoriesUpdate",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CategoryUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/CategoryObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/completions": {
      "get": {
        "description": "Returns all quest completions for the currently logged in user.",
        "summary": "Get all activity completions for the current user.",
        "operationId": "QuestCompletionsIndex",
        "tags": [
          "QuestCompletions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestCompletionArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/completions/{id}": {
      "get": {
        "description": "Returns the quest completion for the provided id.",
        "summary": "Find a quest completion",
        "operationId": "QuestCompletionsShow",
        "tags": [
          "QuestCompletions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestCompletionObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "patch": {
        "description": "Updates a completion.",
        "summary": "Update a quest completion",
        "operationId": "QuestCompletionsUpdate",
        "tags": [
          "QuestCompletions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/QuestCompletionUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestCompletionObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates a completion.",
        "summary": "Update a quest completion",
        "operationId": "QuestCompletionsUpdate",
        "tags": [
          "QuestCompletions"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/QuestCompletionUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/QuestCompletionObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/events": {
      "get": {
        "summary": "Get all events for a product",
        "operationId": "EventsIndex",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "required": false,
            "description": "Only include events starting on or after date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": false,
            "description": "Only include events starting on or before date in format \"YYYY-MM-DD\". Note valid dates start from 2017-01-01.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsArray"
          }
        }
      },
      "post": {
        "description": "Creates an event for current user's product",
        "summary": "Create an event",
        "operationId": "EventsCreate",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EventForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Get a single event by id",
        "operationId": "EventsShow",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsObject"
          }
        }
      },
      "patch": {
        "description": "Updates the event for given ID.",
        "summary": "Update an event.",
        "operationId": "EventsUpdate",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EventUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "Updates the event for given ID.",
        "summary": "Update an event.",
        "operationId": "EventsUpdate",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EventUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/EventsObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "Soft deletes an event by setting deleted to true.",
        "summary": "Delete an event.",
        "operationId": "EventsDestroy",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/followings": {
      "get": {
        "description": "This is used to get a list of someone's followers or followed. If followed_id parameter is supplied, it will get the follower's of that user. If follower_id is supplied, it will get the people that person is following. If nothing is supplied it will get the people the current user is following.",
        "summary": "Get followers or followings of a user.",
        "operationId": "FollowingsIndex",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "followed_id",
            "in": "query",
            "required": false,
            "description": "Person to who's followers to get.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "follower_id",
            "in": "query",
            "required": false,
            "description": "Id of person who is following the people in the list we are getting.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/FollowersArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "This is used to follow a person.",
        "summary": "Follow a person.",
        "operationId": "FollowingsCreate",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/FollowingForm"
        },
        "responses": {
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/FollowingObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/followings/{id}": {
      "delete": {
        "description": "This is used to unfollow a person.",
        "summary": "Unfollow a person.",
        "operationId": "FollowingsDestroy",
        "tags": [
          "Followings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          }
        }
      }
    },
    "/levels": {
      "get": {
        "description": "This gets a list of all levels available to be obtained.",
        "summary": "Get all available levels.",
        "operationId": "LevelsIndex",
        "tags": [
          "Levels"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/LevelsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/merchandise": {
      "get": {
        "description": "This gets a list of merchandise, in priority order.",
        "summary": "Get available merchandise.",
        "operationId": "MerchandiseIndex",
        "tags": [
          "Merchandise"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MerchandiseArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "post": {
        "description": "Create a merchandise item for the user's current product",
        "summary": "Create a merchandise item",
        "operationId": "MerchandiseCreate",
        "tags": [
          "Merchandise"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MerchandiseForm"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MerchandiseObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/merchandise/{id}": {
      "get": {
        "description": "This gets a single piece of merchandise for a merchandise id.",
        "summary": "Get a single piece of merchandise.",
        "operationId": "MerchandiseShow",
        "tags": [
          "Merchandise"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id."
          },
          "200": {
            "$ref": "#/components/responses/MerchandiseObject"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "delete": {
        "description": "Soft deletes a merchandise item.",
        "summary": "Delete a merchandise item.",
        "operationId": "MerchandiseDestroy",
        "tags": [
          "Merchandise"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/message_reports": {
      "get": {
        "summary": "Get list of messages reports (ADMIN).",
        "operationId": "MessageReportsIndex",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "description": "If provided, valid values are \"message_hidden\", \"no_action_needed\", and \"pending\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/MessageReportsArray"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/message_reports/{id}": {
      "patch": {
        "description": "This updates a message report. The only value that can be changed is the status.",
        "summary": "Update a Message Report. (Admin)",
        "operationId": "MessageReportsUpdate",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MessageReportUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      },
      "put": {
        "description": "This updates a message report. The only value that can be changed is the status.",
        "summary": "Update a Message Report. (Admin)",
        "operationId": "MessageReportsUpdate",
        "tags": [
          "MessageReports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MessageReportUpdateForm"
        },
        "responses": {
          "404": {
            "description": "Not Found. The database doesn't contain a record for that id. If the error says a route is missing, it usually means you forgot the ACCEPT header."
          },
          "422": {
            "description": "Unprocessable Entity. Usually occurs when a field is invalid or missing."
          },
          "401": {
            "description": "Unauthorized. "
          },
          "500": {
            "description": "Internal Server Error. Server threw an unrecoverable error. Create a ticket with any form fields you we're trying to send, the URL, API version number and any steps you took so that it can be replicated."
          },
          "200": {
            "$ref": "#/components/responses/OK"
          }
        },
        "security": [
          {
            "SessionCookie": [

            ]
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "description": " This gets a list of messages without regard to room (with possible exception of room filter).",
        "summary": "Get a list of messages without regard to room (ADMIN ONLY).",
        "operationId": "MessagesList",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "application/vnd.api.v3+json",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "page, greater than 1",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "data count per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
[...]
