

<body>
  <div class="post">
    <%= image_tag(@locals[:user_image_url] , class: "profile-picture") %>
    <h2><%= @locals[:username] %></h2>
    <%= image_tag(@locals[:post_image_url] , class: "post-picture") %>
    <p> <%= @locals[:body].html_safe %> </p>
  </div>
</body>


