---
openapi: 3.0.0
info:
  version: 1.0.0
  title: API
  description: Fanlink API
  termsOfService: ''
  contact:
    name: ''
  license:
    name: ''
servers:
- url: https://api.fan.link
  description: Production Server
- url: https://staging.fan.link
  description: Staging Server
- url: http://localhost:3000
  description: Development Server
tags: []
paths:
  "/badges":
    get:
      operationId: Get Badges
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    items:
                      "$ref": "#/components/schemas/badge_json"
                required:
                - badges
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Badges
  "/badges/{id}":
    get:
      operationId: Get A Badge
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/badge_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Badges
    put:
      operationId: Update Badge
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/badge_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Updates a badge
      tags:
      - Badges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                badge:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    internal_name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    action_type_id?:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    action_requirement:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    point_value:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_name?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_content_type?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_size?:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_updated_at?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    description:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    issued_from?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    issued_to?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - product_id
                  - internal_name
                  - action_type_id?
                  - action_requirement
                  - point_value
                  - picture_file_name?
                  - picture_content_type?
                  - picture_file_size?
                  - picture_updated_at?
                  - name
                  - description
                  - issued_from?
                  - issued_to?
              required:
              - badge
    delete:
      operationId: Destroy Badge
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Badges
  "/badge_actions":
    post:
      operationId: Create Badge Action
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    oneOf:
                    - "$ref": "#/components/schemas/pending_badge_json"
                    - "$ref": "#/components/schemas/badges_awarded_json"
                    discriminator:
                      propertyName: type
                      mapping:
                        Pending Badge: "#/components/schemas/pending_badge_json"
                        Badges Awarded: "#/components/schemas/badges_awarded_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Create a badge action.
      tags:
      - Badge Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                badge_action:
                  type: object
                  properties:
                    action_type:
                      type: string
                      description: The internal name of the action type to trigger.
                      example: create_post
                    identifier?:
                      type: string
                      description: An identifier for the badge action.
                      example: create_post_view
                  required:
                  - action_type
                  - identifier?
              required:
              - badge_action
  "/blocks":
    get:
      operationId: Get Blocks
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocks:
                    type: array
                    items:
                      "$ref": "#/components/schemas/block_json"
                required:
                - blocks
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
    post:
      operationId: Create Block
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/block_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                block:
                  type: object
                  properties:
                    blocker_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    blocked_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - blocker_id
                  - blocked_id
              required:
              - block
  "/blocks/{id}":
    get:
      operationId: Get A Block
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/block_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
    put:
      operationId: Update Block
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/block_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                block:
                  type: object
                  properties:
                    blocker_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    blocked_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - blocker_id
                  - blocked_id
              required:
              - block
    delete:
      operationId: Destroy Block
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
  "/events":
    get:
      operationId: Get Events
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      "$ref": "#/components/schemas/event_json"
                required:
                - events
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Events
    post:
      operationId: Create An Event
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/event_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    description?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    starts_at:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    ends_at?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    ticket_url?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    place_identifier?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    deleted:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - product_id
                  - name
                  - description?
                  - starts_at
                  - ends_at?
                  - ticket_url?
                  - place_identifier?
                  - deleted
              required:
              - event
  "/events/{id}":
    get:
      operationId: Get An Event
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/event_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Events
    put:
      operationId: Update An Event
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/event_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    description?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    starts_at:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    ends_at?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    ticket_url?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    place_identifier?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    deleted:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - product_id
                  - name
                  - description?
                  - starts_at
                  - ends_at?
                  - ticket_url?
                  - place_identifier?
                  - deleted
              required:
              - event
    delete:
      operationId: Destroy An Event
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Events
  "/followings":
    get:
      operationId: Get Followings
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  followings:
                    type: array
                    items:
                      "$ref": "#/components/schemas/following_json"
                required:
                - followings
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Follow a user
    post:
      operationId: Create Following
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/following_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Follow a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                following:
                  type: object
                  properties:
                    follower_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    followed_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - follower_id
                  - followed_id
              required:
              - following
  "/followings/{id}":
    get:
      operationId: Get A Following
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/following_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Follow a user
    put:
      operationId: Update Following
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/following_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Follow a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                following:
                  type: object
                  properties:
                    follower_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    followed_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - follower_id
                  - followed_id
              required:
              - following
    delete:
      operationId: Destroy Following
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Follow a user
  "/levels":
    get:
      operationId: Get Levels
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  levels:
                    type: array
                    items:
                      "$ref": "#/components/schemas/level_json"
                required:
                - levels
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - User level
    post:
      operationId: Create Level
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/level_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - User level
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    internal_name:
                      type: string
                      description: ''
                      example: ''
                    points:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    picture_file_name?:
                      type: string
                      description: ''
                      example: ''
                    picture_content_type?:
                      type: string
                      description: ''
                      example: ''
                    picture_file_size?:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    picture_updated_at?:
                      type: string
                      description: ''
                      example: ''
                    description:
                      type: string
                      description: ''
                      example: ''
                    name:
                      type: string
                      description: ''
                      example: ''
                  required:
                  - product_id
                  - internal_name
                  - points
                  - picture_file_name?
                  - picture_content_type?
                  - picture_file_size?
                  - picture_updated_at?
                  - description
                  - name
              required:
              - level
  "/levels/{id}":
    get:
      operationId: Get A Level
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/level_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - User level
    put:
      operationId: Update Level
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/level_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - User level
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                level:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    internal_name:
                      type: string
                      description: ''
                      example: ''
                    points:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    picture_file_name?:
                      type: string
                      description: ''
                      example: ''
                    picture_content_type?:
                      type: string
                      description: ''
                      example: ''
                    picture_file_size?:
                      type: integer
                      format: int32
                      description: ''
                      example: ''
                    picture_updated_at?:
                      type: string
                      description: ''
                      example: ''
                    description:
                      type: string
                      description: ''
                      example: ''
                    name:
                      type: string
                      description: ''
                      example: ''
                  required:
                  - product_id
                  - internal_name
                  - points
                  - picture_file_name?
                  - picture_content_type?
                  - picture_file_size?
                  - picture_updated_at?
                  - description
                  - name
              required:
              - level
    delete:
      operationId: Destroy Level
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - User level
  "/merchandise":
    get:
      operationId: Get Merchandise
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchandise:
                    type: array
                    items:
                      "$ref": "#/components/schemas/merchandise_json"
                required:
                - merchandise
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
    post:
      operationId: Create Merchandise
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/merchandise_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                merchandise:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    price?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    purchase_url?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_name?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_content_type?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_size?:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_updated_at?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    available:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    description:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    priority:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    deleted:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - product_id
                  - price?
                  - purchase_url?
                  - picture_file_name?
                  - picture_content_type?
                  - picture_file_size?
                  - picture_updated_at?
                  - available
                  - name
                  - description
                  - priority
                  - deleted
              required:
              - merchandise
  "/merchandise/{id}":
    get:
      operationId: Get A Merchandise
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/merchandise_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
    put:
      operationId: Update Merchandise
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/merchandise_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                merchandise:
                  type: object
                  properties:
                    product_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    price?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    purchase_url?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_name?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_content_type?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_file_size?:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    picture_updated_at?:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    available:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    name:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    description:
                      type: string
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    priority:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    deleted:
                      type: boolean
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - product_id
                  - price?
                  - purchase_url?
                  - picture_file_name?
                  - picture_content_type?
                  - picture_file_size?
                  - picture_updated_at?
                  - available
                  - name
                  - description
                  - priority
                  - deleted
              required:
              - merchandise
    delete:
      operationId: Destroy Merchandise
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
  "/messages":
    get:
      operationId: Get Messages
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/message_json"
                required:
                - messages
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Messages
    post:
      operationId: Create Message
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    "$ref": "#/components/schemas/message_json"
                required:
                - type
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
[...]
