---
openapi: 3.0.0
info:
  version: 1.0.0
  title: API
  description: Fanlink API
  termsOfService: ''
  contact:
    name: ''
  license:
    name: ''
servers:
- url: https://api.fan.link
  description: Production Server
- url: https://staging.fan.link
  description: Staging Server
- url: http://localhost:3000
  description: Development Server
tags: []
paths:
  "/badge_actions":
    post:
      operationId: Create Badge Action
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/pending_badge_response"
                - "$ref": "#/components/schemas/badges_awarded_response"
                discriminator:
                  propertyName: type
                  mapping:
                    Pending Badge: "#/components/schemas/pending_badge_response"
                    Badges Awarded: "#/components/schemas/badges_awarded_response"
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Create a badge action.
      tags:
      - Badge Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                badge_action:
                  type: object
                  properties:
                    action_type:
                      type: string
                      description: The internal name of the action type to trigger.
                      example: create_post
                    identifier?:
                      type: string
                      description: An identifier for the badge action.
                      example: create_post_view
                  required:
                  - action_type
                  - identifier?
              required:
              - badge_action
  "/badges":
    get:
      operationId: Get Badges
      parameters:
      - in: query
        name: person_id
        required: true
        schema:
          type: integer
          format: int32
        description: The id of the person whose badges you want.
        example: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    items:
                      "$ref": "#/components/schemas/badge_response"
                required:
                - badges
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of all badges earned for a passed in user. Will
        include points earned towards each badge and whether badge has been awarded
        to the user.
      tags:
      - Badges
  "/blocks":
    post:
      operationId: Create Block
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  block:
                    "$ref": "#/components/schemas/block_response"
                required:
                - block
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to block a person. When a person is blocked, any followings
        and relationships are immediately removed between the users.
      tags:
      - Block User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                block:
                  type: object
                  properties:
                    blocker_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                    blocked_id:
                      type: integer
                      format: int32
                      description: 'TODO: Description'
                      example: 'TODO: Example'
                  required:
                  - blocker_id
                  - blocked_id
              required:
              - block
  "/blocks/{id}":
    delete:
      operationId: Destroy Block
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200': {}
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Block User
  "/events":
    get:
      operationId: Get Events
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      "$ref": "#/components/schemas/event_response"
                required:
                - events
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Returns all events associated with the current user's product.
      tags:
      - Events
  "/events/{id}":
    get:
      operationId: Get An Event
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    "$ref": "#/components/schemas/event_response"
                required:
                - event
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Returns a single event.
      tags:
      - Events
  "/followings":
    get:
      operationId: Get Followings
      parameters:
      - in: query
        name: followed_id?
        required: true
        schema:
          type: integer
          format: int32
        description: ID of the person who's followers to get.
        example: 1
      - in: query
        name: follower_id?
        required: true
        schema:
          type: integer
          format: int32
        description: Id of person who is following the people in the list we are getting.
        example: 2
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  followings:
                    type: array
                    items:
                      "$ref": "#/components/schemas/following_response"
                required:
                - followings
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to get a list of someone's followers or followed.
        If followed_id parameter is supplied, it will get the follower's of that user.
        If follower_id is supplied, it will get the people that person is following.
        If nothing is supplied it will get the people the current user is following.
      tags:
      - Followings
    post:
      operationId: Create Following
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  following:
                    "$ref": "#/components/schemas/following_response"
                required:
                - following
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to follow a person.
      tags:
      - Follwoings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followed_id:
                  type: integer
                  format: int32
                  description: Person to follow.
                  example: 2
              required:
              - followed_id
  "/followings/{id}":
    delete:
      operationId: Destroy Following
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200': {}
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to unfollow a person.
      tags:
      - Follow a user
  "/levels":
    get:
      operationId: Get Levels
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  levels:
                    type: array
                    items:
                      "$ref": "#/components/schemas/level_response"
                required:
                - levels
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you were trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of all levels available to be obtained.
      tags:
      - User level
  "/merchandise":
    get:
      operationId: Get Merchandise
      parameters:
      - in: query
        name: page?
        required: true
        schema:
          type: integer
          format: int32
        description: page, greater than 1
        example: 1
      - in: query
        name: per_page?
        required: true
        schema:
          type: integer
          format: int32
        description: How many records to return per page.
        example: 25
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchandise:
                    type: array
                    items:
                      "$ref": "#/components/schemas/merchandise_response"
                required:
                - merchandise
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of merchandise, in priority order.
      tags:
      - Merchandise
  "/merchandise/{id}":
    get:
      operationId: Get A Merchandise
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchandise:
                    "$ref": "#/components/schemas/merchandise_response"
                required:
                - merchandise
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - Merchandise
  "/message_reports":
    get:
      operationId: Get Message Reports
      parameters:
      - in: query
        name: status_filter
        required: true
        schema:
          type: string
        description: If provided, valid values are 'message_hidden', 'no_action_needed',
          and 'pending'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_reports:
                    type: array
                    items:
                      "$ref": "#/components/schemas/message_report_response"
                required:
                - message_reports
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Get list of messages reports (ADMIN).
      tags:
      - Message Reports
  "/room/{room_id}/message_reports":
    post:
      operationId: Create Message Report
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_report:
                    "$ref": "#/components/schemas/message_report_response"
                required:
                - message_report
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This reports a message that was posted to a public room.
      tags:
      - Message Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_report:
                  type: object
                  properties:
                    message_id:
                      type: integer
                      format: int32
                      description: The id of the message being reported.
                      example: 1
                    reason?:
                      type: string
                      description: The reason given by the user for reporting the
                        message.
                      example: Harrassment
                  required:
                  - message_id
                  - reason?
              required:
              - message_report
  "/message_reports/{id}":
    put:
      operationId: Update Message Report
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_report:
                    "$ref": "#/components/schemas/message_report_response"
                required:
                - message_report
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This updates a message report. The only value that can be changed
        is the status.
      tags:
      - Message Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_report:
                  type: object
                  properties:
                    status:
                      type: integer
                      format: int32
                      description: The new status. Valid statuses are 'message_hidden',
                        'no_action_needed', and 'pending'.
                      example: no_action_needed
                  required:
                  - status
              required:
              - message_report
  "/rooms/{room_id}/messages":
    get:
      operationId: Get Messages
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: from_date
        required: true
        schema:
          type: string
          format: date
        description: From date in format 'YYYY-MM-DD'. Note valid dates start from
          2017-01-01.
        example: '2017-01-01'
      - in: query
        name: to_date
        required: true
        schema:
          type: string
          format: date
        description: To date in format 'YYYY-MM-DD'. Note valid dates start from 2017-01-01.
        example: '2017-01-01'
      - in: query
        name: limit
        required: true
        schema:
          type: integer
          format: int32
        description: Limit results to count of limit.
        example: 25
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/message_response"
                required:
                - messages
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of message for a from date, to date, with an optional
        limit. Messages are returned newest first, and the limit is applied to that
        ordering.
      tags:
      - Messages
    post:
      operationId: Create Message
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    "$ref": "#/components/schemas/message_response"
                required:
                - message
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This creates a message in a room and posts it to Firebase as appropriate.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    body?:
                      type: string
                      description: The body of the message.
                      example: That was an awesome event.
                    picture?:
                      type: string
                      format: binary
                      description: Message picture, this should be `image/gif`, `image/png`,
                        or `image/jpeg`.
                    audio?:
                      type: string
                      format: binary
                      description: Message audio, this should be `audio/aac`.
                    mentions?:
                      type: object
                      properties:
                        person_id?:
                          type: integer
                          format: int32
                          description: ID of user mentioned
                          example: 1
                        location?:
                          type: integer
                          format: int32
                          description: The location in the message body that the mention
                            is at.
                          example: 25
                        length?:
                          type: integer
                          format: int32
                          description: The length of the users name in the mention
                          example: 7
                      required:
                      - person_id?
                      - location?
                      - length?
                  required:
                  - body?
                  - picture?
                  - audio?
                  - mentions?
              required:
              - message
  "/messages/list":
    get:
      operationId: List Messages
      parameters:
      - in: query
        name: id_filter
        required: true
        schema:
          type: integer
          format: int32
        description: Full match on Message id.
      - in: query
        name: person_filter
        required: true
        schema:
          type: string
        description: Full or partial match on person username.
      - in: query
        name: room_id_filter
        required: true
        schema:
          type: integer
          format: int32
        description: Full match on Room id.
      - in: query
        name: body_filter
        required: true
        schema:
          type: string
        description: Full or partial match on message body.
      - in: query
        name: reported_filter
        required: true
        schema:
          type: string
        description: Filter on whether the message has been reported.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      "$ref": "#/components/schemas/message_list_response"
                required:
                - messages
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of messages without regard to room (with possible
        exception of room filter).(Admin Only)
      tags:
      - Messages
  "/rooms/{room_id}/messages/{id}":
    get:
      operationId: Get A Message
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    "$ref": "#/components/schemas/message_response"
                required:
                - message
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a single message for a message id. Only works for messages
        in private rooms. If the message author has been blocked by the current user,
        this will return 404 Not Found.
      tags:
      - Messages
    put:
      operationId: Update Message
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    "$ref": "#/components/schemas/message_response"
                required:
                - message
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This updates a message in a room. Only the hidden field can be
        changed and only by an admin. If the item is hidden, Firebase will be updated
        to inform the app that the message has been hidden.
      tags:
      - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    hidden:
                      type: boolean
                      description: Hide or unhide a message.
                      example: true
                  required:
                  - hidden
              required:
              - message
    delete:
      operationId: Destroy Message
      parameters:
      - in: path
        name: room_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200': {}
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This deletes a single message by marking as hidden. Can only be
        called by the creator.
      tags:
      - Messages
  "/notification_device_ids":
    post:
      operationId: Create A Notification Device Id
      parameters: []
      responses:
        '200': {}
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Create a Notification Device Id
      tags:
      - Notification Device IDs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  description: ID of the device
              required:
              - device_id
  "/notification_device_ids/{id}":
    delete:
      operationId: Destroy A Notification Device Id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200': {}
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Destroy a Notification Device Id
      tags:
      - Notification Device IDs
  "/password_resets":
    post:
      operationId: Create Password Reset
      parameters: []
      responses:
        '200':
          description: Reset password instructions have been sent to your email, if
            it exists in our system.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      type:
                        type: string
                    required:
                    - type
                required:
                - message
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to initiate a password reset. Product and email or
        username required. If email or username is not found, password reset will
        fail silently.
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                  description: Internal name of product.
                email_or_username:
                  type: string
                  description: The person's email or username.
              required:
              - product
              - email_or_username
  "/people/password_resets":
    put:
      operationId: Update Password Reset
      parameters: []
      responses:
        '200':
          description: HTTP/1.1 200 Ok
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Token from email link
                password:
                  type: string
                  description: The new password.
              required:
              - token
              - password
  "/people":
    get:
      operationId: Get People
      parameters:
      - in: query
        name: username_filter
        required: true
        schema:
          type: string
        description: A username or username fragment to filter on.
        example: Admin
      - in: query
        name: email_filter
        required: true
        schema:
          type: string
        description: An email or email fragment to filter on.
        example: admin@example.com
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      oneOf:
                      - "$ref": "#/components/schemas/person_response"
                      - "$ref": "#/components/schemas/person_private_response"
                      discriminator:
                        propertyName: type
                        mapping:
                          Public Person App Response: "#/components/schemas/person_response"
                          Private Person App Response: "#/components/schemas/person_private_response"
                required:
                - people
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to get a list of people.
      tags:
      - People
    post:
      operationId: Create Person
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    type: object
                    properties:
                      type:
                        "$ref": "#/components/schemas/person_private_response"
                    required:
                    - type
                required:
                - person
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: |-
        This is used to create a new person.
        If the account creation is successful, they will be logged in and we will send an onboarding email (if we have an email address for them).
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                  description: Internal name of the product.
                person:
                  type: object
                  properties:
                    username:
                      type: string
                      description: Username. This needs to be unique within product
                        scope.
                      example: test_robot
                    email?:
                      type: string
                      description: Email address (required unless using FB auth token).
                      example: hello@example.com
                    name?:
                      type: string
                      description: User's name.
                      example: Test McTesterson
                    facebook_auth_token!:
                      type: string
                      description: Auth token from Facebook.
                    picture?:
                      type: string
                      format: binary
                      description: Profile picture, this should be `image/gif`, `image/png`,
                        or `image/jpeg`.
                    gender:
                      type: integer
                      format: int32
                      description: 'Gender. Valid options: unspecified (default),
                        male, female.'
                      example: 'TODO: Example'
                    birthdate?:
                      type: string
                      format: date
                      description: Birthdate in format 'YYYY-MM-DD'.
                      example: '1970-08-02'
                    city?:
                      type: string
                      description: Person's supplied city.
                      example: Las Vegas
                    country_code?:
                      type: string
                      description: Alpha2 code (two letters) from ISO 3166 list.
                      example: US
                  required:
                  - username
                  - email?
                  - name?
                  - facebook_auth_token!
                  - picture?
                  - gender
                  - birthdate?
                  - city?
                  - country_code?
              required:
              - product
              - person
  "/people/{id}":
    get:
      operationId: Get A Person
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    type: object
                    properties:
                      type:
                        oneOf:
                        - "$ref": "#/components/schemas/person_response"
                        - "$ref": "#/components/schemas/person_private_response"
                        discriminator:
                          propertyName: type
                          mapping:
                            Public Person App Response: "#/components/schemas/person_response"
                            Private Person App Response: "#/components/schemas/person_private_response"
                    required:
                    - type
                required:
                - person
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: Returns the person for the supplied ID.
      tags:
      - People
    put:
      operationId: Update Person
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    type: object
                    properties:
                      type:
                        "$ref": "#/components/schemas/person_private_response"
                    required:
                    - type
                required:
                - person
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recommended:
                  type: boolean
                  description: Whether this is a recommended persion. (Admin or product
                    account only)
                person:
                  type: object
                  properties:
                    username:
                      type: string
                      description: Username. This needs to be unique within product
                        scope.
                      example: test_robot
                    email?:
                      type: string
                      description: Email address (required unless using FB auth token).
                      example: hello@example.com
                    name?:
                      type: string
                      description: User's name.
                      example: Test McTesterson
                    picture?:
                      type: string
                      format: binary
                      description: Profile picture, this should be `image/gif`, `image/png`,
                        or `image/jpeg`.
                    gender:
                      type: integer
                      format: int32
                      description: 'Gender. Valid options: unspecified (default),
                        male, female.'
                      example: 'TODO: Example'
                    birthdate?:
                      type: string
                      format: date
                      description: Birthdate in format 'YYYY-MM-DD'.
                      example: '1970-08-02'
                    city?:
                      type: string
                      description: Person's supplied city.
                      example: Las Vegas
                    country_code?:
                      type: string
                      description: Alpha2 code (two letters) from ISO 3166 list.
                      example: US
                  required:
                  - username
                  - email?
                  - name?
                  - picture?
                  - gender
                  - birthdate?
                  - city?
                  - country_code?
              required:
              - recommended
              - person
  "/people/{id}/change_password":
    put:
      operationId: Change Password
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: HTTP/1.1 200 Ok
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This is used to change the logged in user's password.
      tags:
      - People
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                person:
                  type: object
                  properties:
                    current_password:
                      type: string
                      description: The User's current password.
                      example: SomeBoB#2213
                    new_password:
                      type: string
                      description: The new password.
                      example: ThatOtherBoB#2214
                  required:
                  - current_password
                  - new_password
              required:
              - person
  "/post_comment_reports":
    get:
      operationId: Get Post Comment Reports
      parameters:
      - in: query
        name: status_filter
        required: true
        schema:
          type: string
        description: If provided, valid values are 'pending', 'no_action_needed',
          and 'comment_hidden'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  post_comment_reports:
                    type: array
                    items:
                      "$ref": "#/components/schemas/post_comment_report_response"
                required:
                - post_comment_reports
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This gets a list of post comment reports with optional filter.
        (Admin Only)
      tags:
      - Post Comment Reports
    post:
      operationId: Create A Post Comment Report
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  post_comment_report:
                    type: object
                    properties:
                      type:
                        "$ref": "#/components/schemas/post_comment_report_response"
                    required:
                    - type
                required:
                - post_comment_report
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '404':
          description: The record was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '422':
          description: One or more fields were invalid. Check response for reasons.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
        '429':
          description: Not enough time since last submission of this action type or
            duplicate action type, person, identifier combination.
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal Server Error. Server threw an unrecoverable error.
            Create a ticket with any form fields you we're trying to send, the URL,
            API version number and any steps you took so that it can be replicated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
                required:
                - errors
      description: This reports a post comment.
      tags:
      - Post Comment Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_comment_report:
                  type: object
                  properties:
                    post_comment_id:
                      type: integer
                      format: int32
                      description: The id of the post comment being reported.
                      example: 1
                    reason?:
                      type: string
                      description: The reason given by the user for reporting the
                        post comment.
                      example: Harrassment
                  required:
                  - post_comment_id
                  - reason?
              required:
              - post_comment_report
  "/post_comment_reports/{id}":
    put:
      operationId: Update A Post Comment Report
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: HTTP/1.1 200 Ok
          content:
            application/json:
              schema:
                type: string
        '401':
          description: User is not authorized to access this endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      base:
                        type: array
                        items:
                          type: string
                    required:
                    - base
[...]
