<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% labels = ["Read", "Write", "Delete"] %>
  <% i = 0 %>
  <% f.object.as_flag_collection("#{field.attribute}", :"#{field.attribute}_read", :"#{field.attribute}_update", :"#{field.attribute}_delete").collect do |o| %>
    <td><%= labels.inspect %>: <%= f.check_box(o.first) %></td>
    <% i = i + 1 %>
  <% end %>
</div>

